<launch>
  <param
    name="robot_description"
    textfile="$(find xmate3_description)/urdf/xmate3_with_gripper.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="TRUE"/>
  </node> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xmate3_description)/launch/xmate3.rviz"/>

</launch>
